.hero5{ font-size: 35pt;
}
.testo5{ font-size: 20pt;
max-width: 400px;}

header{ text-decoration: none;
    display: flex;
    gap: 550px;
    font-size: 20pt;
    }
    nav{ 
     display: flex ;
     gap: 69px ;
     text-decoration: none;
     list-style: none;
     
    }
    
    header a{ text-decoration: none;
    color: black;
    font-size: 20pt;
    }
    .images5{ max-width: 300px;
    }

.cont5{ display: flex;
gap: 60px;}